{
    "presets": [
        "./tools/es2015Preset",
        "stage-1"
    ],
    "env": {
        "cjs": {
            "plugins": [
                "add-module-exports"
            ]
        }
    },
    "plugins": [
        "transform-runtime",
        "transform-regenerator",
        "babel-plugin-external-helpers"
    ]
}